a {
    margin-left: 1rem;
}

article {
    max-width: 40%;
    margin: 3rem auto;
}

footer {
    display: flex;
    justify-content: space-between;
}

.img {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 15%;
}

svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}