/*  Old horizontal layout

li {
    display: inline;
} */

ul {
    display: flex;
    flex-direction: row;    /* row by default */
    list-style-type: none;
    gap: 16px;
    padding: 0px;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px; 
    color: #3c4043;
    padding: 0.5rem 1rem;
    cursor: pointer;
}